#header-container {
    width: 75%;
    margin: auto;
}

header {
    height: 80px;
    background-color: #ffffff;
}

.col-3 {
    width: auto;
    float: left;
}

.menu {
    margin-top: 32px;
}

.menu li {
    list-style-type: none;
    display: inline;
    color: #8e8e8e;
    padding-right: 30px;
}

#feature-section {
    padding-top: 100px;
}

.feature-section-title {
    width: 70%;
    text-align: center;
    font-weight: 200;
    line-height: 1.5em;
    margin: auto;
}

.feature-content {
    margin: auto;
    width: 80%;
    text-align: center;
    padding-top: 100px;
}

.feature-content .col-3 img {
    width: 100%;
}

.feature-content .col-3 p {
    font-size: .9em;
    letter-spacing: 1px;
}

.feature-content .col-3 {
    padding: 10px;
    width: 30%;
}

footer {
    background-color: black;
    clear: both;
    height: 500px;
    background-image: url(../Images/footerbg.png);
    background-position: 50% 50%;
}

.social-footer {
    width: 33%;
    float: left;
    height: 40%;
}

.social-footer:hover {
    background-color: black;
    opacity: .5;
}

.center {
    width: 50px;
    margin: auto;
    padding-top: 60px;
}

.copyright {
    color: #ffffff;
    font-size: .9em;
    text-align: center;
    display: block;
    padding-top: 15px;
}